* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-areas: 
        "header header header"
        ". content ."
}

.header {
    grid-area: header;
    background-image: linear-gradient(90deg, #2f005b, #002946);
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.header-title {
    color: rgb(255, 255, 255);
    width: 18rem;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.header-location-form-container {
    margin: auto 2rem;
}

.header-location-input {
    font-size: 2rem;
}

.content {
    grid-area: content;
    height: calc(100vh - 4rem);
}

.content-form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-form-location {
    color: white;
    align-self: center;
    font-size: 2rem;
}

.content-form-location-input {
    font-size: 2rem;
    border-radius: 2px;
}